.button {
  background-color: var(--Buttons-Solid-Primary-Default, #3969ef);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
