.container {
  min-height: 100vh;
  background-color: #f7f7f7;
  background-image: url('/static-assets/images/background.svg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  font-family: var(--Font-Family-Product);
  position: relative;
}

.header {
  padding: 30px;
  display: flex;
  align-items: center;
}

.logo {
  width: 189px;
  height: 53px;
}

@media (max-width: 768px) {
  .header {
    padding: 20px 16px;
  }

  .logo {
    width: 151px;
    height: 42px;
  }
}
